/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  background-color: #f3f4f6;

  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

.main__container {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1rem;
}

.nav__logo {
  font-weight: 700;
  color: #6366f1;
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 1rem;
}

.menu__btn {
  cursor: pointer;
  color: #d1d5db;
  position: fixed;
  top: 1.25rem;
  right: 1.5rem;
  z-index: 99;
  background: transparent;
  border: transparent;
}

.menu {
  background: #1f2937;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all ease-in 0.3s;
  transform: translate(100%);
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 0;
}

.nav__link {
  display: block;
  cursor: pointer;
  color: #d1d5db;
  border-radius: 0.25rem;
  transition: all ease-in 0.3s;
  padding: 2rem;
  /* margin: 1rem 0; */
  /* padding: 1rem; */
}

.nav__link:hover {
  background-color: #374151;
  color: rgb(255 255 255);
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation 0.6s infinite linear;
  -moz-animation: rotation 0.6s infinite linear;
  -o-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 100%;
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }

  .menu {
    background: transparent;
    position: unset;
    transition: unset;
    transform: unset;
    height: fit-content;
  }

  .nav__list {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
  }

  .nav__link {
    padding: 0.5rem 1rem;
  }
}

.active {
  transform: translate(0);
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
